<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DBodonto" connectionString="Data Source=STIVEN;Initial Catalog=odontologia;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
        <add name="PryAccesoDatos.Properties.Settings.DBodonto" connectionString="Data Source=DESKTOP-UCUPQCR;Initial Catalog=DB_Medicos;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>